button {
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 8px #ddd;
  border: none;
  height: 3rem;
  margin-left: 10px;
}

input {
  background-color: white;
  width: 80%;
  border-radius: 10px;
  height: 3rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  border: none;
}

.test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 80vh;
  text-align: center;
  margin: 50px;
}

.problem {
  width: 100%;
}

.result-list {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 5px;
}

.result-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ddd;
  border: none;
  height: 3rem;
}

.result-column {
  flex: 1;
  text-align: center;
  font-weight: normal;
}

.result-column.incorrect {
  color: red;
  font-weight: bold;
}

#reset-button {
  margin-bottom: 70px;
}
